/* GitHub-inspired CSS */

/* Set body background color and font family */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #24292E;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

img {
  display: block;
  margin: auto;
  width:100000px;
  height:100000px;
}

/* Set link color and remove underline */
a {
  color: #0366D6;
  text-decoration: none;
}

/* Set headings font weight and color */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #FFFFFF;
}

/* Set default font color */
p, li, span {
  color: #C9D1D9;
  margin-right: 200px;
  margin-left: 200px;
  text-align : justify;
}


/* Set button style */
.button {
  display: inline-block;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #24292E;
  background-color: #F9826C;
  border: 1px solid #F9826C;
  border-radius: 6px;
  cursor: pointer;
}

/* Set input style */
.input {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #24292E;
  background-color: #FFFFFF;
  border: 1px solid #D1D5DA;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* Set table style */
.table {
  width: 100%;
  margin-bottom: 16px;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-spacing: 0;
}

.table th,
.table td {
  padding: 6px 13px;
  border: 1px solid #D1D5DA;
}

.table th {
  font-weight: 600;
  text-align: left;
}

/* Set code block style */
pre {
  background-color: #F6F8FA;
  border: 1px solid #D1D5DA;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}
